{
  "extends": "standard",
  "root": true,
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "browser": true,
    "es6": true,
    "greasemonkey": true
  },
  "rules": {
    "max-len": ["warn", { "code": 120 }],
    "no-alert": "off",
    "no-console": "warn",
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "never"]
  }
}
