{
  "extends": "airbnb-base",
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "linebreak-style": ["warn", "windows"],
    "max-len": ["warn", { "code": 120 }],
    "no-alert": "off",
    "no-console": "warn",
    "quotes": ["error", "double"]
  },
  "env": {
    "browser": true,
    "es6": true,
    "greasemonkey": true
  }
}
